__pycache__
*.sqlite3
simplesignage/manager/static/content/c*
simplesignage/manager/static/content/*.jpg
simplesignage/manager/static/content/*.jpeg
simplesignage/manager/static/content/*.png
simplesignage/manager/static/content/*.gif
simplesignage/manager/static/shows/*.mp4
