{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="icon" href="{% static 'icon.png' %}">
    <!--link rel="stylesheet" href="{% static './css/login.css' %}"-->
    <link href="//cdn.muicss.com/mui-0.9.43/css/mui.min.css" rel="stylesheet" type="text/css"/>
  </head>
  <!--Actual Login Form, lets see how it behaves-->
  <!--div class="mui-appbar">
    <table>
      <tr>
        <td align="center">
          <em>Simple Signage</em> Login
        </td>
      </tr>
    </table>
  </div-->
  <table width="100%">
    <tr>
      <td align="center">
        <br>
        <div class="mui-panel" style="width:50%" align="center">
          <div class="mui-appbar">
            <h2>Password Reset</h2>
          </div>
          <div class="mui-container">
            <form method="post" class="mui-form">
              {% csrf_token %}
              <table width="100%" align="center">
                <tr>
                  <td>
                    <div class="mui-container">
                      {{ form }}
                    </div>
                  </td>
                </tr>
                <tr align="center">
                  <td colspan="2">
                    <button type="submit" class="mui-btn mui-btn--primary">Change Password!</button>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </td>
    </tr>
  </table>


</html>
