{% load static %}
<footer class="footing">
  <table >
    <div class="mui-divider"></div>
    <tr>
      <td>
        <!-- Don't forget the CSRF token, otherwise Django won't be happy -->
        <form action="upload_file" enctype="multipart/form-data" method="post" target="_self">{% csrf_token %}
          <input type="file" class="mui-btn mui-btn--small mui-btn--primary" name="fileupload" value="" accept="application/pdf, image/*, video/mp4, application/zip"><!--multiple-->
          <input type="submit" class="mui-btn mui-btn--small mui-btn--primary" name="filesubmit" value="Upload">
        </form>
      </td>
      <!--td align="right">
        <a href="/admin" target="_blank" class="mui-btn mui-btn--small mui-btn--primary">Admin</a>
        <a href="{% url 'logout' %}" class="mui-btn mui-btn--small mui-btn--primary">Logout</a>
      </td-->
    </tr>
  </table>
</footer>
