{%load static%}
{% block imageList %}
  <!-- Don't forget the CSRF token, otherwise Django won't be happy -->
  <form action="apply_changes" method="post" target="_self">{% csrf_token %}
    <!-- use static "content" prefix to the file -->
    <!-- Also, don't forget to use the "file.thing" format to access data, duh-->
    <!-- checkbox checked and not-checked tags include the closing bracket for the input-->
    {% for file in File %}
    <div class="content">
        <table>
          <tr>
            <td>
              <img src="{% static 'content' %}/{{file.path}}" alt="{{file.path}}">
            </td>
            <td>
              <table class="content settings">
                <tr>
                  <td>
                    Use File:<input type="checkbox" name="{{file.cid}}_use" {% if file.use %}checked{% endif %}><span class="chkbox"></span>
                  </td>
                  <td>
                    <form class="del" action="delete" method="post">{% csrf_token %}
                      <input type="hidden" name="Delete" value="{{file.cid}}">
                      <input type="submit" value="Delete" name="del-{{file.cid}}">
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    Start Date:<br>
                    <input type="date" class="content settings date" name="{{file.cid}}_sdate" value="{{file.startDate}}"><br>
                  </td>
                  <td>
                    Show Time:<br>
                    <input type="number" class="content settings dt" name="{{file.cid}}_dispTime" value="{{file.displayTime|default:15}}" min="1" max="300"><b>s</b><br>
                  </td>
                </tr>
                <tr>
                  <td>
                    End Date:<br>
                    <input type="date" class="content settings date" name="{{file.cid}}_edate" value="{{file.endDate}}"><br>
                  </td>
                  <td>
                    Del on End:<br><input type="checkbox" name="{{file.cid}}_deleteOnEnd" {% if file.deleteOnEnd %}checked{% endif %}><span class="chkbox"></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    {% endfor %}
    <br>
    <input type="submit" class="content submit" value="Apply Changes" class="form submit">
  </form>
{% endblock imageList %}
