{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static './css/master.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table>
      <tr>
        <td><p class="p epoch">Unix Epoch: {{os}}</p></td>
        <td><p id="updateMe"></p></td>
      </tr>
    </table>

    <div class="imagelist">
      {% include "imagelist.html" %}
    </div>
  </body>
  <!-- Footer Template containing the file upload field -->
  {% include "footer.html" %}

</html>
