{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Authentication</title>
    <link rel="icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static './css/login.css' %}">
  </head>
  <body>
    <p class='info'>Please Login</p>
    <p>{{authfail}}</p>
    <form class="" action="authorize" method="post">{%csrf_token%}
      Username:<input type="text" name="usr" value=""><br>
      Password: <input type="password" name="pas" value=""><br>
      <input type="submit">
    </form>
  </body>
</html>
