{% load static %}
{% include "preamble.html" %}
<body>
  {% include "appbar.html" %}
  <p id="updateMe"></p>

  <table width="100%">
    {% for tv in screens %}
    <tr>
      <td align="center">
        <div style="width:35em" align="center">
          <div class="mui-panel" id="screen_{{ tv.id }}">
            <table align="center" width="100%">
              <tr>
                <td align="left">{{ tv.name }}</td>
                <td align="right">
                  <button class="mui-btn mui-btn--small mui-btn--primary" type="button" name="Details{{ tv.name }}" onclick="tsv('settings_{{tv.name}}')">Settings</button>
                  <button class="mui-btn mui-btn--small mui-btn--danger" type="button" name="DelBtn" onclick="deleteScreenConfirm('{{ tv.name }}', '{{ csrf_token }}')">Delete</button>
                </td>
              </tr>
              <tr>
                <td colspan="3">Key : {{tv.key}}</td>
              </tr>
            </table>
            <div id="settings_{{tv.name}}" style="display:none">
              <div class="mui-divider"></div>
              <table>
                <form class="mui-form" action="/tvSettingsChange" method="post">
                  {% csrf_token %}
                  <tr>
                    <td style="width:32%">
                      <input type="hidden" name="tv.id" value="{{ tv.id }}">
                      <label for="address">Address:</label><br>
                      <input type="text" name="tv.address" value="{{ tv.addr }}">
                    </td>
                    <td></td>
                    <td>
                      <label for="tv.width" class="mui--text-left">Dimensions:</label><br>
                      {{ tv.width }}x{{ tv.height }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>TV Schedule</label>
                      <div class="onoffswitch">
                        <input class="onoffswitch-checkbox" type="checkbox" id="schedule{{tv.id}}" {% if tv.useSched %}checked{% endif %} value="{{tv.id}}" name="tv.useSched">
                        <label class="onoffswitch-label" for="schedule{{tv.id}}"></label>
                      </div>
                    </td>
                    <td>
                      <label for="vt.starttime">TV on at:</label><br>
                      <input type="time" name="tv.starttime" value="{{tv.starttime}}">
                    </td>
                    <td>
                      <label for="vt.endtime">TV off at:</label><br>
                      <input type="time" name="tv.endtime" value="{{tv.endtime}}">
                    </td>
                  </tr>
                  <tr>
                    <td align="center" colspan="3"><input type="submit" name="" value="Submit Changes" class="mui-btn mui-btn--small mui-btn--primary"></td>
                  </tr>
                </form>
              </table>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>

  <!--  -->
  <div id="addScreenPlace" style="display:none" class="mui-form">
    <!-- Hidden Form! -->
    <div class="mui-divider"></div>
    <table width="100%">
      <tr>
        <td align="center">
          <div style="width:35em" align="center">
              <div class="mui-panel">
                <form class="mui-form" action="/newscreen" method="post">
                  {% csrf_token %}
                  <table align="center" width="90%">
                    <tr>
                      <td class="mui-textfield">
                        <input type="text" name="name" placeholder="Descriptive Screen Name">
                      </td>
                    </tr>
                    <tr>
                      <td class="mui-textfield">
                        <input type="text" name="addr" placeholder="10.10.10.10 or hostname.domain">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td class="mui-textfield">
                              <input type="number" name="width" value="">
                            </td>
                            <td>x</td>
                            <td class="mui-textfield">
                              <input type="number" name="height" value="">
                            </td>
                            <td>
                              <button class="mui-btn mui-btn--primary" style="margin-left:2.5em" type="button" name="button" onclick="addScreen()">cancel</button>
                            </td>
                            <td>
                              <input style="margin-left:2.5em" class="mui-btn mui-btn--primary" type="submit" name="" value="Save">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div style="padding-left: 1em; padding-bottom:0.25em; padding-top:0.25em">
    <button type="button" name="add screen" class="mui-btn mui-btn--fab mui-btn--primary" onclick="addScreen()" id="addScreenBtn">+</button>
  </div>
</body>
