body{
  background-color: #333;
}

p.epoch{
  color: #382;
}

/*image list styling*/
.imagelist{
  background-color: inherit;
}

.content{/*Form styling*/
  background: inherit;
  padding: 2mm;
  padding-left: 2mm;
  border-bottom: solid;
  border-bottom-width: 2pt;
  border-color: #666;
}
.content img{
  display: inline-block;
  height: 32.35mm;
  width: 25mm;
  object-fit: cover;
  max-height: 32.35mm;
  border-radius: 1mm;
  float: left;
  padding-left: 0;
}
.content.settings{
  display: inline-block;
  border: none;
  color: #f00;
  padding-left: 2mm;
}
.content.settings.date{
  color: #222;
  background-color: #ddd;
  width: 100pt;
  border-radius: 2mm;
  height: 3mm;
}
.content.settings.dt{
  color: #222;
  width: 36pt;
  background-color: #ddd;
  border-radius: 2mm;
  height: 3mm;
}
.content.submit{
  background-color: #ddd;
  border-radius: 2mm;
  border: none;
}
.content.submit:hover{
  background-color: #bbb;
  border-radius: 2mm;
  border-color: #eee;
  border-top: 2px;
  border: none;
}
/*Hrule for */
.horizrule{
  background-color: #123;
  height: 2px;
  width: 100%;
}

/*footer style*/
footer{
  background-color: #666;
  border-radius: 8px;
  width:100%;
  position: sticky;
  bottom: 0px;
  top: 1mm;
}

footer table{
  width: 100%;
}
